:root {
    --black: hsl(0, 0%, 0%);
    --black-5: hsl(0, 0%, 5%);
    --black-10: hsl(0, 0%, 10%);
    --black-25: hsl(0, 0%, 25%);
    --black-50: hsl(0, 0%, 50%);
    --black-75: hsl(0, 0%, 75%);
    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 50%);
    --red2: hsl(0, 70%, 50%);
    --yellow: hsl(65, 100%, 50%);
    --green: hsl(120, 100%, 50%);
    --green2: hsl(120, 80%, 45%);
    --blue: hsl(202, 100%, 50%);
    --green3: #228B22;
    --eerie-black-2_85: hsla(0, 0%, 12%, 0.85);

    /* fontes */
    --ff-oswald: "Oswald", sans-serif;
    --ff-rubik: "Rubik", sans-serif;

    /* tamanho fs */
    --fs-40: 4rem;
    /* 4x16*/
    --fs-30: 3rem;
    --fs-24: 1.4rem;
    --fs-18: 1.8rem;
    --fs-14: 1.4rem;
    --fs-12: 1.3rem;

    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* Espaço */
    --section-padding: 80px;

    /* borda */
    --radius-5: 5px;
    --radius-5: 8px;

    /* Sombra */
    --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
    --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);

    /* Transição */
    --transition-1: 0.25s ease;
    --transition-2: 0.50s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------*\
    Reset
\*-----------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
span,
data,
input,
button,
textarea,
ion-icon {
    display: block;
}

a {
    color: inherit;
}

img {
    height: auto;
}

input,
select,
textarea {
    background: var(--white);
    border: none;
    font: inherit;
}

input,
select,
textarea {
    width: 100%;
}

button {
    cursor: pointer;
}

html {
    font-family: var(--ff-rubik);
    font-size: 12px;
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    color: var(--white);
    font-size: 1.6rem;
    line-height: 2;
    max-width: 100%;
    background-color: black;
}

:focus-visible {
    outline-offset: 4px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--green3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--green2);
}

/*-----------------------------*\
    Style - reuso
\*-----------------------------*/

a {
    text-decoration: none;
}

.section {
    padding-block: var(--section-padding);
}

.text-center {
    text-align: center;
}

.grid-list {
    display: grid;
    gap: 30px;
}

/*-----------------------------*\
    Barra de menu
\*-----------------------------*/

header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--green3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-bottom: 300px;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding-inline: auto;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {
    color: var(--white);
    transition: 0.3s;
}

.header-list:hover {
    color: var(--green3);
}

.header-item .header-link:is(:hover) {
  color: var(--green2);
  transition: 0.3s;

}

.barra-de-pesquisa {
    width: 150px;
    border-radius: 7px;
    padding-left: 20px;
    font-size: 15px;
}

.logo {
    width: 100px;
}

.logo:hover {
    transform: translateY(-5px);
}

.dropdown {
  color: var(--white);
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--green3);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  opacity: 0%;
  text-align: center;
}

.dropdown2 {
opacity: 0%;
transition: 0.3s;
  }

#droplink:is(:focus, :hover, :focus-within) .dropdown-content {
  display: block;
  opacity: 100%;
}

#droplink:is(:hover, :focus, :focus-within) .dropdown2 {
opacity: 100%;
}

.drop-item {
transition: 0.3s;
}

.drop-item:hover {
background-color:var(--green2);
border-radius: 5px;
}

/*-----------------------------*\
    Banner
\*-----------------------------*/

.hero {
    width: 100%;
    height: 1000px;
}

.titulo-banner {
  text-shadow: var(--black) 0.5rem 0.5rem 1rem;
  color: var(--green2);
  font-size: 90px;
}

.slogan {
  color: var(--white);
  font-size: 30px;
}

/*-----------------------------*\   
    Imagem de fundo
\*-----------------------------*/

.has-bg-imag {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
}

/*-----------------------------*\
   Parallax
\*-----------------------------*/

.parallax .sobre{
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 200px;
}

.pricing::before {
    inset: 0;
    background-color: var(--black-50);
    mix-blend-mode: multiply;
    z-index: -1;
}

/*-----------------------------*\
    Recursos renovaveis e nao
\*-----------------------------*/

.recursos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}


.h1-rec {
    color: var(--green);
    margin: 8px 0px 16px;
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
}

.p-rec {
    color: azure;
    margin: 8px 0px 16px;
    text-align: center;
    font-size: 1.5em;
    margin: 30px;
}

.rec-container {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(240, 255, 255, 0.185);
    box-shadow: 0 8px 30px rgb(10, 9, 9);
}
    
.rec-container:hover {
    transform: translateY(-5px);
    background-color: rgba(240, 255, 255, 0.24);
}

/*-----------------------------*\
    Recursos Descrição
\*-----------------------------*/

.h1-descricao {
  color: var(--green2);
  margin: 8px 0px 16px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.p-descricao {
  color: azure;
  margin: 8px 0px 16px;
  text-align: center;
  font-size: 20px;
  margin: 30px;
}

.descricao-container {
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(220, 220, 220, 0.151);
  box-shadow: 0 8px 30px rgb(10, 9, 9);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 200px;
}

/* --------------------- *\
Pricing
\* --------------------- */

.grid-list {
  padding-inline: 20px;
  height: 200px;
  position: relative;
}

.pricing-card .card-banner {
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  width: 90px;
  height: 90px;
}

.pricing-card {
  background-color: gainsboro;
  padding: 20px 25px;
  border-radius: var(--radius-5);
  display: flex;
  align-items: center;
  position: relative;
  color: black;
}

.pricing-card .wrapper {
  margin-left: 60px;
  flex: 1;
}

.pricing-card .card-price {
  color: var(--green);
  font-size: var(--fs-30);
  font-weight: var(--fw-500);
}

.btn-acesso {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: inline-block;
  padding: 5px 20px;
  background-color: gray;
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.5s;
  height: 50px;
}

.btn-acesso:hover {
  background-color: var(--green2);
  color: var(--white);
}

.h2 {
  color: var(--green2);
  font-size: 30px;
  margin-top: 200px;
}

/*-----------------------------*\
    Sobre Nós
\*-----------------------------*/

.sobre {
  box-shadow: 0 8px 30px rgb(10, 9, 9);
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), 
    url('../img/img2.jpg');
  background-repeat: no-repeat;
  display: flex;  
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.text-sobre {
  text-align: center;
  font-size: 30px;
  margin-top: 200px;
  margin-bottom: 20px;
}

.p-sobre-site {
  color: azure;
  text-align: justify;
  font-size: 25px;
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
}


/*-----------------------------*\
    Contato
\*-----------------------------*/

.contatos {
    margin-inline: auto;
    width: 1800px;
    height: 550px;
    background-color: var(--black);
    border: var(--white) 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border: 2px solid var(--white);
    margin-top: 100px;
    
}

.contatos-titulo {
    text-align: center;
    font-size: 30px;
    color: var(--white);
    margin-bottom: 70px;
}

.redes-sociais {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 50px;
}

.item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.item:hover {
  transition: 0.3s;
    transform: translateY(-20px);
}

.text-contato:hover {
  color: var(--green);
}

.item img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.item p {
    color: var(--white);
    font-size: 20px;
}

/*-----------------------------*\
    Rodapé
\*-----------------------------*/

.rodape {
  background-color: var(--green3);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-rod {
  color: var(--white);
  font-size: 12px;
  font-weight: var(--fw-700);
}

/* --------------------- *\
    media query
\* --------------------- */

/* responsivo para telas maiores que 575px */
@media (min-width: 575px) {
    :root {
      --fs-40: 6rem;
    }
  
    .container,
    .header-top {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .btn {
      padding: 13px 40px;
    }
  
    .h2 {
      --fs-30: 3.5rem;
    }
  
    /* header */
    .header-top {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 600px;
      z-index: 4;
      background-color: var(--white);
      border-radius: 0 0 20px 20px;
    }
  
    .header-top-item:first-child {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--black);
    }
  
    .header-top-item ion-icon {
      font-size: 18px;
      color: var(--green2);
      --ionicon-stroke-width: 50px;
    }
  
    .header-top-item .item-title {
      color: var(--black);
      font-weight: var(--fw-500);
    }
  
    .header-top-item .item-link {
      transition: var(--transition-1);
    }
  
    .header-top-item .item-link:is(:hover, :focus) {
      color: var(--green);
    }
  
    .header-top-list {
      justify-content: space-between;
    }
  }
  
  /* responsivo para telas maiores que 768px */
  @media (min-width: 768px) {
    :root {
      --fs-40: 8rem;
    }
  
    .container {
      max-width: 720px;
    }
  
    .hrader-top {
      max-width: 780px;
    }
  
    .service .grid-list {
      grid-template-columns: 1fr 1fr;
    }
  
    .pricing-tab-container {
      padding: 40px;
    }
  }
  
  /* responsivo para telas maiores que 992 */
  @media (min-width: 992px) {
    :root {
      --fs-40: 10rem;
    }
  
    .container {
      max-width: 960px;
    }
  
    .nav-toggle-btn {
      display: none;
    }
  
    .header-top {
      max-width: 1020px;
    }
  
    .header-bottom {
      padding-block: 20px;
    }
  
    .navbar,
    .navbar-list,
    .navbar-item {
      all: unset;
    }
  
    .navbar-list,
    .header .btn {
      display: flex;
    }
  
    .navbar-link {
      padding-inline: 10px;
    }
  
    .hero {
      --section-padding: 150px;
    }
  
    .hero-title,
    .hero-text {
      max-width: 800px;
    }
  
    .service .grid-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .pricing .grid-list {
      grid-template-columns: 1fr 1fr;
    }
  
    .pricing-card {
      height: 100%;
    }
  }
  
  /* responsivo para telas maiores que 1200px */
  @media (min-width: 1200px) {
    .container {
      max-width: 100%;
    }
  }